@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&family=Lora:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


body{
    margin: 0;
    background-color: #000;
    color: #eee;
    font-family: Poppins;
    font-size: 12px;
}
a{
    text-decoration: none;
}
svg{
    width: 25px;
}
/* header */
header{
    width: 1200px;
    max-width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    grid-template-rows: 50px;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 100;
}
header .menu{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    font-weight: 500;
}
.logo img {
    width: 100px; 
    height: auto; 
}
.navbar {
    width: 1200px;
    max-width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    grid-template-rows: 50px;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 100;
}

.navbar-list {
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: center;
    gap: 20px;
    font-weight: 500;
    display: flex;
}

.navbar-list li {
    color: #fff;
    font-weight: 500;
}

.navbar-list li a {
    text-decoration: none;
    color: #fff;
    transition: color 0.2s ease;
}

.navbar-list li a:hover {
    color: #ffa343; 
}

/* carousel */
.carousel{
    height: 100vh;
    margin-top: -50px;
    width: 100vw;
    overflow: hidden;
    position: relative;
}
.carousel .list .item{
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0 0 0 0;
}
.carousel .list .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.carousel .list .item .content{
    position: absolute;
    top: 20%;
    width: 1140px;
    max-width: 80%;
    left: 50%;
    transform: translateX(-50%);
    padding-right: 30%;
    box-sizing: border-box;
    color: #fff;
    text-shadow: 0 5px 10px #0004;
}
.carousel .list .item .name,
.carousel .list .item .location{
    font-size: 5em;
    font-weight: bold;
    line-height: 1.3em;
}
.carousel .list .item .location{
    color: #f1683a;
}
.carousel .list .item .buttons{
    display: grid;
    grid-template-columns: 130px;
    grid-template-rows: 40px;
    gap: 5px;
    margin-top: 20px;
}
.carousel .list .item .buttons button{
    background-color: #eee;
    letter-spacing: 3px;
    font-family: Poppins;
    font-weight: 500;
}
.carousel .list .item .buttons button:nth-child(2){
    background-color: transparent;
    border: 1px solid #fff;
    color: #eee;
}
/* thumbail */
.thumbnail{
    position: absolute;
    bottom: 50px;
    left: 50%;
    width: max-content;
    z-index: 100;
    display: flex;
    gap: 20px;
}
.thumbnail .item{
    width: 150px;
    height: 220px;
    flex-shrink: 0;
    position: relative;
}
.thumbnail .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.thumbnail .item .content{
    color: #fff;
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
}
.thumbnail .item .content .title{
    font-weight: 500;
}
.thumbnail .item .content .description{
    font-weight: 300;
}
/* arrows */
.arrows{
    position: absolute;
    top: 80%;
    right: 52%;
    z-index: 100;
    width: 300px;
    max-width: 30%;
    display: flex;
    gap: 10px;
    align-items: center;
}
.arrows button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.593);
    border: none;
    color: #ffffff;
    font-family: monospace;
    font-weight: bold;
    transition: .5s;
}
.arrows button:hover{
    background-color: #fff;
    color: #000;
}

/* animation */
.carousel .list .item:nth-child(1){
    z-index: 1;
}

/* animation text in first item */

.carousel .list .item:nth-child(1) .content .author,
.carousel .list .item:nth-child(1) .content .title,
.carousel .list .item:nth-child(1) .content .topic,
.carousel .list .item:nth-child(1) .content .des,
.carousel .list .item:nth-child(1) .content .buttons
{
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .5s 1s linear 1 forwards;
}
@keyframes showContent{
    to{
        transform: translateY(0px);
        filter: blur(0px);
        opacity: 1;
    }
}
.carousel .list .item:nth-child(1) .content .title{
    animation-delay: 1.2s!important;
}
.carousel .list .item:nth-child(1) .content .topic{
    animation-delay: 1.4s!important;
}
.carousel .list .item:nth-child(1) .content .des{
    animation-delay: 1.6s!important;
}
.carousel .list .item:nth-child(1) .content .buttons{
    animation-delay: 1s!important;
}
/* create animation when next click */
.carousel.next .list .item:nth-child(1) img{
    width: 150px;
    height: 220px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    border-radius: 30px;
    animation: showImage .5s linear 1 forwards;
}
@keyframes showImage{
    to{
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}

.carousel.next .thumbnail .item:nth-last-child(1){
    overflow: hidden;
    animation: showThumbnail .5s linear 1 forwards;
}
.carousel.prev .list .item img{
    z-index: 100;
}
@keyframes showThumbnail{
    from{
        width: 0;
        opacity: 0;
    }
}
.carousel.next .thumbnail{
    animation: effectNext .5s linear 1 forwards;
}

@keyframes effectNext{
    from{
        transform: translateX(150px);
    }
}

/* running time */

.carousel .time{
    position: absolute;
    z-index: 1000;
    width: 0%;
    height: 3px;
    background-color: #f1683a;
    left: 0;
    top: 0;
}

.carousel.next .time,
.carousel.prev .time{
    animation: runningTime 3s linear 1 forwards;
}
@keyframes runningTime{
    from{ width: 100%}
    to{width: 0}
}


/* prev click */

.carousel.prev .list .item:nth-child(2){
    z-index: 2;
}

.carousel.prev .list .item:nth-child(2) img{
    animation: outFrame 0.5s linear 1 forwards;
    position: absolute;
    bottom: 0;
    left: 0;
}
@keyframes outFrame{
    to{
        width: 150px;
        height: 220px;
        bottom: 50px;
        left: 50%;
        border-radius: 20px;
    }
}

.carousel.prev .thumbnail .item:nth-child(1){
    overflow: hidden;
    opacity: 0;
    animation: showThumbnail .5s linear 1 forwards;
}
.carousel.next .arrows button,
.carousel.prev .arrows button{
    pointer-events: none;
}
.carousel.prev .list .item:nth-child(2) .content .author,
.carousel.prev .list .item:nth-child(2) .content .title,
.carousel.prev .list .item:nth-child(2) .content .topic,
.carousel.prev .list .item:nth-child(2) .content .des,
.carousel.prev .list .item:nth-child(2) .content .buttons
{
    animation: contentOut 1.5s linear 1 forwards!important;
}

@keyframes contentOut{
    to{
        transform: translateY(-150px);
        filter: blur(20px);
        opacity: 0;
    }
}

@media screen and (max-width: 768px){
    .slider{
        height: 400px;
    }
}
@media screen and (max-width: 678px) {
    .carousel .list .item .content{
        padding-right: 0;
    }
    .carousel .list .item .content .title{
        font-size: 30px;
    }

}
.slideshow-container {
    max-width: 800px;
    position: relative;
    margin: auto;
  }
  
  /* Number text (1/5 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot,.dot1,.dot2 {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  .active {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {
      opacity: .4
    }
  
    to {
      opacity: 1
    }
  }
  
  #text {
    position: absolute;
    right: 0; /* Start position on the right */
    color: #fff;
    white-space: nowrap;
    font-size: 7.5vw;
    z-index: 1;
    animation: moveText 5.5s linear infinite alternate; /* Use "alternate" for back and forth */
  }
  
  #btn {
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 40px;
    background: #fff;
    color: #2b1055;
    font-size: 1.5em;
    z-index: 9;
    transform: translateY(100px);
  }
  
  .sec {
    position: relative;
    padding: 100px;
    background-color: #000;
  }
  
  .sec h2 {
    font-size: 3.5em;
    margin-bottom: 10px;
    color: #fff;
  }
  
  .sec p {
    font-size: 1em;
    color: #fff;
  }

.footer-distributed {
    background: #111514;
    box-shadow: 0 1px 1px 0 rgba(224, 17, 17, 0.12);
    width: 100%;
    text-align: left;
    font: bold 17px sans-serif;
    padding: 57px 52px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

/* Footer left */
.footer-distributed .footer-left {
    width: 42%;
}

/* The company logo */
.footer-distributed h3 {
    color: #ffffff;
    font: normal 37px 'Open Sans', cursive;
    margin: 0;
}

/* Footer links */
.footer-distributed .footer-links {
    color: #ffffff;
    margin: 22px 0 14px;
    padding: 0;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.9;
    font-weight: 410;
    text-decoration: none;
    color: inherit;
}

/* Change link color on hover */
.footer-distributed .footer-links a:hover {
    color: rgb(246, 170, 30);
}

/* Footer company name */
.footer-distributed .footer-company-name {
    color: #ffe9e9;
    font-size: 15px;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */
.footer-distributed .footer-center {
    width: 36%;
}

.footer-distributed .footer-center i {
    font-size: 28px;
    width: 38px;
    height: 38px;
    line-height: 45px;
    margin: 10px 15px;
    vertical-align: middle;
    color: #ffffff;
    /* Change the color to white */
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 25px;
    line-height: 38px;
    color: #ffffff;
    /* Change the color to white */
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    font-weight: 400;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 15px;
    line-height: 2;
}

.footer-distributed .footer-center p:not(:first-child) {
    font-size: 15px;
}

/* Change email link color on hover */
.footer-distributed .footer-center a:hover {
    color: rgb(246, 170, 30);
}

.footer-distributed .footer-links a:before {
    content: "|";
    font-weight: 310;
    font-size: 22px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
    content: none;
}

/* Footer Right */
.footer-distributed .footer-right {
    width: 20%;
}

.footer-distributed .footer-company-about {
    line-height: 21px;
    color: #bfc0c0;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 20px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    text-align: center;
    line-height: 25px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.footer-distributed .footer-icons a .icon-container {
    background-color: #33383b;
    border-radius: 1px;
}

.footer-distributed .footer-icons a i {
    font-size: 20px;
    color: #ffffff;
}

/* Change only the icon color on hover */
.footer-distributed .footer-icons a:hover i {
    color: rgb(246, 170, 30);
}

/* Change icon container background on hover */
.footer-distributed .footer-icons a:hover .icon-container {
    background-color: rgb(246, 170, 30);
}

/* Change email link color to white when not pointed */
.footer-distributed .footer-center a {
    color: #ffffff;
}

.circular-menu {
    position: relative;
    font-size: 18px;
    border-radius: 50%;
}

.inner-circle {
    content: '';
    background: #eb8282;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 4em;
    height: 4em;
    border-radius: 50%;
    z-index: 1;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-circle i {
    color: #fff;
    font-size: 1.3em;
}

.panel {
    background: rgba(228, 127, 127, 0.718);
    text-decoration: none;
    width: 11.7em;
    height: 10em;
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    transform-origin: top center;
    transition: width 0.1s, height 0.1s, opacity 0.1s;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    backdrop-filter: blur(4px);
}

.panel:nth-child(1) {
    transform: translateX(-50%);
}

.panel:nth-child(1) i {
    transform: translateX(-50%);
}

.panel:nth-child(2) {
    transition-delay: 0.1s;
    transform: translateX(-50%) rotate(60deg);
}

.panel:nth-child(2) i {
    transform: translateX(-50%) rotate(-60deg);
}

.panel:nth-child(3) {
    transition-delay: 0.2s;
    transform: translateX(-50%) rotate(120deg);
}

.panel:nth-child(3) i {
    transform: translateX(-50%) rotate(-120deg);
}

.panel:nth-child(4) {
    transition-delay: 0.3s;
    transform: translateX(-50%) rotate(180deg);
}

.panel:nth-child(4) i {
    transform: translateX(-50%) rotate(-180deg);
}

.panel:nth-child(5) {
    transition-delay: 0.4s;
    transform: translateX(-50%) rotate(240deg);
}

.panel:nth-child(5) i {
    transform: translateX(-50%) rotate(-240deg);
}

.panel:nth-child(6) {
    transition-delay: 0.5s;
    transform: translateX(-50%) rotate(300deg);
}

.panel:nth-child(6) i {
    transform: translateX(-50%) rotate(-300deg);
}

.panel:hover {
    background: rgba(0, 0, 0, 0.8);
}

.panel i {
    font-size: 2.5em;
    position: absolute;
    top: 50%;
    left: 50%;
}

.panel {
    opacity: 0;
    width: 0;
    height: 0;
}

.circular-menu:hover .panel {
    opacity: 1;
    height: 10em;
    width: 11.7em;
}

.card {
    position: relative;
    width: 270px;
    height: 451px;
    margin: 21px;
    background-color: #0c1013;
    border-radius: 21px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    box-shadow: 0 0 31px rgba(0, 0, 0, 0.5);
    flex-shrink: 0;
}

.card .photo .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .photo {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 0%;
    overflow: hidden;
    transition: 0.5s;
}

.card:hover .photo {
    top: 31px;
    width: 121px;
    height: 121px;
    border-radius: 51%;
    box-shadow: 0 0 210px rgba(0, 0, 0, 0.8);
}

.card h1 {
    position: absolute;
    top: 371px;
    transition: 0.4s;
}

.card:hover h1 {
    top: 170px;
}

.card h2 {
    margin-top: 220px;
    width: 80%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.card p {
    width: 90%;
    text-indent: 32px;
    font-size: 16px;
    margin-bottom: 15px;
    line-height: 30px;
    text-align: center;
    padding-bottom: 20px;
}

.card a {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 8px 32px;
    border-radius: 8px;
}

.card a:hover {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.2);
}

.card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* Four equal columns */
    gap: 25px;
}

.card-left {
    grid-column: 1;
}

.card-middle {
    grid-column: 2;
}

.card-middle-2 {
    grid-column: 3;
    /* Position for the second middle column */
}

.card-right {
    grid-column: 4;
    /* Position for the last column */
}

.justify-text {
    text-align: justify;
}

@keyframes moveText {
    0% {
      transform: translateX(100%); /* Start from the right */
    }
    100% {
      transform: translateX(-100%); /* Move to the left */
    }
  }

